.Even {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: -1;
    background-color: variables.$background-events;
  }
}
.Even,
.Odd {
  padding: utils.rem(40px) utils.rem(30px) utils.rem(50px);

  .Date {
    color: variables.$main-gray-third;
    font-size: utils.rem(32px);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: utils.rem(40px);
  }
}
.SingleEvent {
  cursor: pointer;

  @include utils.display-flex-between((align-items));
  flex-direction: row-reverse;
  gap: utils.fluid-size(20, 40);

  &Text {
    @include utils.display-flex-column;
    justify-content: space-between;
    .Star {
      @include utils.display-flex-between((align-items));
    }

    p {
      color: variables.$main-black-second;
      font-size: utils.rem(24px);
      font-weight: 700;
      margin-bottom: utils.rem(16px);
      text-transform: uppercase;
    }
    .Distance {
      margin-bottom: utils.rem(14px);
      p {
        text-transform: none;
        font-size: utils.rem(18px);
        font-weight: 600;
        &:nth-child(2) {
          font-weight: 500;
          line-height: utils.rem(22px);
        }
      }
      ul {
        @include utils.display-flex-center((justify-content));
        gap: utils.rem(6px);
      }
    }
    span {
      color: variables.$main-black-second;
      font-size: utils.rem(18px);
      font-weight: 500;
      line-height: utils.rem(22px);
      opacity: 0.8;
    }
    svg:not(.Star svg) {
      transition: 0.3s ease-in;
      height: utils.rem(40px);
      width: utils.rem(40px);
    }
  }
  &Image {
    overflow: hidden;
    position: relative;
    min-width: utils.fluid-size(150, 412);
    height: utils.fluid-size(150, 220);
  }

  &Image img,
  &Image :global(img) {
    transition: transform 0.3s ease;
  }

 

  &:hover {
    svg {
      transform: rotate(45deg);
      transition: 0.3s ease-in;
    }
    .Star svg {
      transform: none;
    }
  }
}
.Divider {
  height: utils.rem(2px);
  background-color: variables.$main-gray-second;
  width: 100%;
  margin: utils.rem(32px) 0;
}
@media (max-width: variables.$breakpoint-tablet) {
  .SingleEvent {
    flex-direction: column-reverse;
    svg:not(.Star svg, .Distance svg) {
      display: none;
    }
    .Star {
      flex-direction: column;
    }
    .Distance {
      margin-top: utils.rem(16px);
      span {
        text-transform: lowercase;
      }
    }
    &Image {
      svg {
        display: block !important;
        position: absolute;
        right: utils.rem(16px);
        bottom: utils.rem(16px);
        height: utils.rem(40px);
        width: utils.rem(40px);
      }
    }
  }
}
