.Mission {
  padding-top: utils.rem(48px);
  &Images {
    display: flex;
    gap: utils.rem(10px);
    width: 100%;
    height: utils.rem(800px);

    .MissionImageWrapper,
    .VisionImageWrapper {
      
      position: relative;
      flex: 1;
      height: utils.rem(600px);
    }

    .VisionImageWrapper {
      top: 0px;
      position: sticky;
    }

    img {
      object-fit: cover;
    }

    @media (max-width: variables.$breakpoint-laptop-small) {
      flex-direction: column;

      .MissionImageWrapper,
      .VisionImageWrapper {
        width: 100%;
        height: utils.rem(200px);
    
      }

      .VisionImageWrapper {
        top: utils.rem(10px);
      }
    }
  }
  &Content {
    background: variables.$border-red;

    &Wrapper {
      padding: utils.rem(50px) 0;
      margin-top: utils.rem(-96px);
      @include utils.display-flex-column;

      span {
        font-weight: 700;
        font-size: utils.fluid-size(44, 100);
        line-height: 100%;
        color: variables.$main-white;
        display: block;
      }

      .WrapperText {
        display: flex;
        justify-content: flex-end;
        gap: utils.rem(85px);
        margin-top: utils.fluid-size(16, 40);
        p {
          color: variables.$main-white;
          opacity: 0.8;
          font-weight: 500;
          font-size: utils.rem(18px);
          line-height: utils.rem(22px);
          max-width: utils.rem(660px);
        }
        @media (max-width: variables.$breakpoint-tablet) {
          svg {
            display: none;
          }
        }
      }

      
    @media (max-width: variables.$breakpoint-laptop-small) {

      margin-top: utils.rem(60px);
    }
    }
  }
  .VisionContent {
    background: variables.$background-breadcrumb;

    &Wrapper {
      padding: utils.rem(50px) 0;
      @include utils.display-flex-column;

      span {
        font-weight: 700;
        font-size: utils.fluid-size(40, 100);
        line-height: 100%;
        color: variables.$main-black;
        display: block;
      }

      .WrapperText {
        display: flex;
        justify-content: flex-end;
        gap: utils.rem(85px);
        margin-top: utils.fluid-size(16, 40);
        p {
          color: variables.$main-black;
          opacity: 0.8;
          font-weight: 500;
          font-size: utils.rem(18px);
          line-height: utils.rem(22px);
          max-width: utils.rem(660px);
        }
        @media (max-width: variables.$breakpoint-tablet) {
          svg {
            display: none;
          }
        }
      }
    }
  }
}
