.TabAccordion {
  padding: utils.rem(40px) 0;
  min-height: utils.rem(500px);
  .layout {
    @include utils.display-flex-between((align-items));
    @media (min-width:variables.$breakpoint-desktop-small) {
      gap: utils.fluid-size(30,200);
    }
  }

  .navigation {
    width: utils.rem(280px);
    padding: 0;
    flex-shrink: 0;
  }

  .tabList {
    @include utils.display-flex-column;
    list-style: none;
    margin: 0;
    padding-top: utils.rem(20px);

    gap: utils.rem(16px);
  }

  .tabItem {
    position: relative;
  }

  .tabButton {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: utils.fluid-size(16,24);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: utils.rem(0.5px);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    text-align: left;
    &.active {
      color: variables.$main-white;
      padding-left: utils.rem(50px);
      font-size: utils.fluid-size(16,32);
      transition: 0.4s ease;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: utils.rem(15px);
        bottom: 0;
        width: utils.rem(32px);
        height: utils.rem(3px);
        background-color: variables.$main-white;
      }
    }
  }
  .Accordion {
    min-width: utils.fluid-size(280, 800);
  }

  @media (max-width: variables.$breakpoint-desktop-small) {
    .layout {
      flex-direction: column;
    }
  }
  @media (max-width: variables.$breakpoint-tablet) {

    .tabButton {
      &.active {
        padding-left: 0;
        border: utils.rem(1px) solid variables.$main-white;
        padding: utils.rem(12px) utils.rem(24px);

        &::before {
          display: none;
        }
      }
    }
    .tabList{
      flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  }
}
}
