.Additional {
  @include utils.display-flex-column;
  h6 {
    color: variables.$main-black;
    font-family: "Nunito Sans";
    font-size: utils.fluid-size(40, 72);
    font-weight: 900;
    line-height: utils.fluid-size(44, 90);
    text-transform: uppercase;
    margin-bottom: utils.rem(63px);
  }
  &Component {
    a {
      color: unset;
      @include utils.display-flex-between;
      span {
        color: variables.$main-black;
        font-size: utils.rem(24px);
        font-weight: 700;
      }
      .arrow {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        height: utils.rem(40px);
        width: utils.rem(40px);
        border: utils.rem(1px) solid variables.$main-black;
        svg {
          transition: 0.3s ease-in all;
          height: utils.rem(20px);
          width: utils.rem(20px);
        }
      }
      &:hover {
          svg {
            transition: 0.3s ease-in all;
            transform: rotate(45deg);
          }
      }
    }
  }

  .Divider {
    width: 100%;
    background-color: variables.$main-gray-second;
    height: utils.rem(2px);
    margin: utils.rem(27px) 0 utils.rem(23px);
  }
}
