
.container-left {
  width: 100%;
  padding-left: 3.125rem;
  max-width: variables.$breakpoint-desktop;
  margin:0 auto;
  box-sizing: border-box;
}

@media (max-width: variables.$breakpoint-tablet) {
  .container-left {
    padding-left: 1.5rem;
  }
}

@media (max-width: variables.$breakpoint-mobile) {
  .container-left {
    padding-left: 1rem;
  }
}
