.Even {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    z-index: -1;
    background-color: variables.$background-events;
  }
}
.Even,
.Odd {
  padding: utils.rem(40px) utils.rem(30px) utils.rem(50px);

  .Date {
    color: variables.$main-gray-third;
    font-size: utils.rem(32px);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: utils.rem(40px);
  }
}
.SingleEvent {
  cursor: pointer;

  @include utils.display-flex-between((align-items));
  gap: utils.rem(40px);

  &Text {
    @include utils.display-flex-column;
    justify-content: space-between;
    .Star {
      @include utils.display-flex-between((align-items));
    }

    p {
      color: variables.$main-black-second;
      font-size: utils.fluid-size(20, 24);
      font-weight: 700;
      margin-bottom: utils.fluid-size(8, 16);
      text-transform: uppercase;
    }
    .Distance {
      margin: utils.rem(14px) 0;
      p {
        text-transform: none;
        font-size: utils.rem(18px);
      }
    }
    span {
      color: variables.$main-black-second;
      font-size: utils.rem(18px);
      font-weight: 500;
      line-height: utils.rem(22px);
      opacity: 0.8;
    }
    .arrow {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      height: utils.rem(40px);
      width: utils.rem(40px);
      border: utils.rem(1px) solid variables.$main-black;
    }
    svg:not(.Star svg) {
      transition: 0.3s ease-in;
      height: utils.rem(20px);
      width: utils.rem(20px);
    }
  }
  &Image {
    overflow: hidden;
    position: relative;
    min-width: utils.fluid-size(150, 412);
    height: utils.fluid-size(220, 220);
    .arrow {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      height: utils.rem(40px);
      width: utils.rem(40px);
      border: utils.rem(1px) solid variables.$main-black;
    }
    .arrowMobile {
      display: none;
    }
    svg {
      display: none;
    }
  }

  &Image img,
  &Image :global(img) {
    transition: transform 0.3s ease;
  }

  &:hover {
    svg {
      transform: rotate(45deg);
      transition: 0.3s ease-in;
    }

    .Star svg {
      transform: none;
    }
  }
}
.Divider {
  height: utils.rem(2px);
  background-color: variables.$main-gray-second;
  width: 100%;
  margin: utils.rem(32px) 0;
}

@media (max-width: variables.$breakpoint-tablet) {
  .SingleEvent {
    flex-direction: column-reverse;
    svg:not(.Star svg, .Distance svg) {
      display: none;
    }
    .arrow {
      display: none;
    }
    .arrowMobile {
      height: utils.rem(40px);
      width: utils.rem(40px);
      background-color:#FFFFFF80;
      border-radius: 50%;
      transition: all 0.3s ease;
      border: utils.rem(1px) solid variables.$main-black;
      display: block !important;
      position: absolute;
      right: utils.rem(16px);
      bottom: utils.rem(16px);
      svg {
        display: block !important;
        width: utils.rem(20px);
        height: utils.rem(20px);
        position: absolute;
        left: utils.rem(10px);
        top: utils.rem(10px);
      }
    }
    .Star {
      flex-direction: column;
      margin-bottom: utils.rem(16px);
    }
    .Distance {
      margin-top: utils.rem(16px);
      span {
        text-transform: lowercase;
      }
    }
    // &Image {
    //   svg {

    //   }
    // }
  }
}
