.Table {
  @include utils.display-flex-wrap;
  justify-content: space-around;
  &Wrapper {
    width: utils.rem(320px);
    &Divider {
      width: 100%;
      height: utils.rem(2px);
      background-color: variables.$main-gray-second;
    }
    span {
      font-weight: 600;
      font-size: utils.rem(14px);
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: utils.rem(20px) 0 utils.rem(12px);
      color: variables.$main-gray;
      display: block;
    }
    p {
      font-weight: 500;
      font-size: utils.rem(18px);
      line-height: 100%;
      text-transform: capitalize;
      color: variables.$main-black;
    }
  }
}
.Image {
  position: relative;
  height: utils.fluid-size(200, 600);
  width: 100%;
  margin: utils.rem(40px) 0 utils.rem(48px);
  img {
    object-fit: cover;
  }
}
.Text {
  margin: utils.fluid-size(40,48) 0 utils.fluid-size(80,120);
  @include utils.display-flex-between((align-items));
  span {
    color: variables.$main-black-second;
    font-size: utils.fluid-size(32,48);
    font-weight: 700;
    line-height: utils.fluid-size(30,60);
    max-width: utils.rem(600px);
  }
  p {
    color: variables.$main-black-second;
    font-size: utils.fluid-size(16,18);
    line-height: utils.rem(22px);
    opacity: 0.8;
    font-weight: 500;
    text-align: start;
    max-width: utils.rem(600px);
  }
  @media (max-width:variables.$breakpoint-tablet) {
    flex-direction: column;
    gap:utils.rem(16px);
  }
}
