

  .custom-swiper-bonus-button-prev,
  .custom-swiper-bonus-button-next {
    @include utils.display-flex-center;
    height: utils.rem(40px);
    width: utils.rem(40px);
    border-radius: 50%;
    border: utils.rem(1px) solid variables.$main-white;
    background-color: variables.$main-white;
    position: absolute;
    cursor: pointer;
    z-index: 99;

    svg {
      path {
        stroke: variables.$main-black;
      }
    }
  }

  .custom-swiper-bonus-button-next {
    bottom: 65%;
    right: utils.rem(-15px);
  }

  .custom-swiper-bonus-button-prev {
    bottom: 65%;
    left: utils.rem(-15px);

    svg {
      transform: rotate(180deg);
    }
  }

  .my-custom-button-disabled {
    opacity: 0.5;
    cursor: unset;
  }

img{
  object-fit: cover;
}
