@use "utils";
@use "variables";
@use "animations";

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: variables.$main-body-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.home-slider {
  .swiper-slide {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #204066;
      -webkit-transition: all ease-in-out 0.3s;
      transition: all ease-in-out 0.3s;
      opacity: 0.8;
    }
  }
  .swiper-slide-active {
    img {
      animation: kbrns_zoomOutIn 35s linear 0s infinite alternate;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #039803 !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #039803 !important;
  }

  .my-custom-button-disabled {
    opacity: 0.5;
    cursor: unset;
  }
}

.thumbnail {
  height: utils.rem(400px);
  width: 100%;
  .swiper-slide{
  width: 100% !important;
}}

.thumbnail-swiper-thumbs{
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-slide {
    width: 25%;
    height: utils.rem(200px) !important;
    opacity: 0.4;
    
  }
  .swiper-slide-thumb-active {
    opacity: 1;
    height: 200px !important;
  }
}

.sr-only {
  position: absolute;
  width: utils.rem(1px);
  height: utils.rem(1px);
  padding: 0;
  margin: utils.rem(-1px);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
