.Virtual {
  position: relative;
  height: utils.rem(650px);
  z-index: 5;
  &Images {
    height: 100%;
    width: 100%;
  }
  &Content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    a {
      cursor: pointer;
      font-family: Archivo;
      font-weight: 600;
      font-size: utils.rem(20px);
      color: variables.$main-white;
    }
  }
}

