


@mixin hover-transform($scale: 1.05, $translateY: 0) {
  transform: scale($scale) translateY($translateY);
}

.wrapper {
  @include utils.display-flex-wrap;
  gap: utils.rem(20px);

  @media (max-width:variables.$breakpoint-tablet) {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform variables.$transition-duration ease;
}

.card {
  width:variables.$card-width;
  height:variables.$card-height;
  overflow: hidden;
  transition: all variables.$transition-duration ease;
  cursor: pointer;
  position: relative;

  &:hover {
    .image {
      @include hover-transform(1.05);
    }
  }

}

.imageContainer {
  width: 100%;
  height:variables.$card-height;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform variables.$transition-duration ease;
}

.content {
  padding: utils.rem(12px);
  @include utils.display-flex-column;
  justify-content: space-between;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  bottom: 0;
  width: utils.rem(292px);
  margin: utils.rem(14px);
  gap: utils.rem(6px);
}

.name {
  color: variables.$main-black;
  font-weight: 700;
  font-size: utils.rem(20px);
  line-height: utils.rem(28px);
}

.role {
  color: variables.$main-black;
  opacity: 0.7;
  font-size: utils.rem(14px);
  line-height: utils.rem(18px);
  text-transform: uppercase;
}

.linkedinIcon {
  position: absolute;
  top: utils.rem(20px);
  right: utils.rem(20px);
  width: utils.rem(32px);
  height: utils.rem(32px);
  @include utils.display-flex-center;
  transition:all variables.$transition-duration ease;
}

